@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300;400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

:root {
  --bg-color: #EAE7DC;
  --bg-color-dark: #D8C3A5;
  --red-color: #E98074;
  --red-color-dark: #E85A4F;
  --grey-color: #8E8D8A;
}

body {
	background: var(--bg-color);

  --fs-link: 23px;
  --fs-link-sm: 18px;
  --fs-error-lg: 25px;
  --fs-error-md: 18px;
  --fs-error-sm: 11px;
  --fs-shop: 19px;
  --fs-shop-sm: 16px;
  --fs-digit-xl: 18px;
  --fs-digit-lg: 16px;
  --fs-digit-md: 14px;
  --fs-digit-sm: 12px;
  --fs-descr-xxl: 20px;
  --fs-descr-xl: 18px;
  --fs-descr-lg: 16px;
  --fs-descr-md: 14px;
  --fs-descr-sm: 12px;
  --fs-btn-lg: 20px;
  --fs-btn-md: 16px;
  --fs-btn-sm: 14px;
  --fs-btn-xs: 12px;
  --fs-title-xxl: 25px;
  --fs-title-xl: 20px;
  --fs-title-lg: 18px;
  --fs-title-md: 16px;
  --fs-title-sm: 14px;
  --fs-label: 18px;
  --fs-label-sm: 15px;
  --fs-submit: 16px;
  --fs-submit-sm: 14px;
  --fs-input: 14px;
  --fs-input-sm: 12px;

  --border-item-rad: 10px;
  --border-btn-rad: 8px;
  --border-btn-rad-lg: 10px;
  --border-input-rad: 8px;
  --border-wrapper-rad: 20px;

  --margin-page: 30px;
  --margin-page-mob: 70px;

}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}